<h1>Editing Professor</h1>

<%= render 'form', professor: @professor %>

<%= link_to 'Show', @professor, class: "btn btn-primary" %>
<%= link_to 'Back', professors_path, class: "btn btn-secondary" %>
